div._init_best_practices {
  padding: 3em 0;
  position: relative;
  height: 100vh;

  @include breakpoint(s) {
    background-color: $secondary;
    height: auto;
  }

  @include breakpoint(tp) {
    background-color: $primary;
    height: 100vh;
  }

  div._init_inner_best_practices {
    &>p._init_title {
      text-align: right;
      font-size: 125px;
      transform: translateX(100px) translateY(50px);
      z-index: 2;

      @include breakpoint(s) {
        font-size: $mobilefont_title;
        transform: translateX(0) translateY(0);
        text-align: left;
      }

      @include breakpoint(tp) {
        text-align: right;
        font-size: 125px;
        transform: translateX(100px) translateY(50px);
      }

      &:after {
        right: 0;
        left: auto;

        @include breakpoint(s) {
          width: 100%;
          background-color: white;
        }

        @include breakpoint(tp) {
          width: 200px;
          background-color: $secondary;
        }
      }
    }

    ._init_best_practices_content {
      @include breakpoint(s) {
        margin-top: 2em;
      }

      @include breakpoint(tp) {
        margin-top: 0;
      }

      &>a {
        text-decoration: none;
        font: $roboto;
        color: $tertiary;
        font-size: 30px;
        display: block;
        position: relative;
        margin: 0.5em 0;

        &:after {
          content: '';
          background-color: $secondary;
          height: 20px;
          width: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: all 0.5s ease;
          opacity: 0.6;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: $tertiary;

          &:after {
            width: 100px;
          }
        }

        @include breakpoint(s) {
          font-size: 16px;
        }

        @include breakpoint(tp) {
          font-size: 30px;
        }
      }
    }

    ._init_video_side {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: $secondary;
      height: 70%;
      width: 500px;

      @include breakpoint(s) {
        display: none;
      }

      @include breakpoint(tp) {
        display: block;
      }

      ._init_video_content {
        background-color: white;
        height: 100%;
        width: 100%;
        transform: translateX(-100px) translateY(-100px);
        overflow: hidden;

        &>video {
          height: 100%;
          width: auto;
          object-fit: cover;
        }
      }
    }
  }
}