._init_frameworks {
  padding: 3em 0;
  position: relative;
  height: 100vh;
  background-color: $primary;

  @include breakpoint(s) {
    height: auto;
  }

  @include breakpoint(tp) {
    height: 100vh;
  }

  ._init_inner_frameworks {
    ._init_title {
      text-align: right;

      @include breakpoint(s) {
        font-size: $mobilefont_title;
        text-align: left;
      }

      @include breakpoint(tp) {
        font-size: 125px;
        text-align: right;
      }

      &:after {
        right: 0;
        left: auto;

        @include breakpoint(s) {
          width: 100%;
        }

        @include breakpoint(tp) {
          width: 200px;
        }
      }
    }

    ._init_frameworks_content {
      display: flex;
      flex-direction: row;
      position: absolute;
      left: 0;
      right: 0;
      margin: 1em 0;

      @include breakpoint(s) {
        flex-direction: column;
        background-color: $primary;
      }

      @include breakpoint(tp) {
        flex-direction: row;
      }

      ._init_angular,
      ._init_vue,
      ._init_react {
        flex-basis: 33.33%;
        max-width: 33.33%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include breakpoint(s) {
          flex-basis: 100%;
          max-width: 100%;
        }

        &>img {
          width: 200px;
          height: auto;
          // object-fit: contain;
        }
      }
    }
  }
}