@font-face {
  font-family: 'bebas_neuebold';
  src: url('../fonts/bebasneue_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_monoregular';
  src: url('../fonts/robotomono-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$bebas: 400 1em 'bebas_neuebold';
$roboto: 400 1em 'roboto_monoregular';

// colors
$primary: #262626;
$secondary: #278ea5;
$tertiary: #efefef;

._init_title {
  color: $tertiary;
  font: $bebas;
  font-size: 90px;
  letter-spacing: 10px;
  position: relative;
  margin: 0;
  padding: 30px 0;
  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $secondary;
    width: 200px;
  }
  @include breakpoint(mobile) {
    font-size: 70px;
  }
  @include breakpoint(mobileLandscape) {
    font-size: 50px;
  }
}
